<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PokemonGo.RocketAPI.Console.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PokemonGo.RocketAPI.Console.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <PokemonGo.RocketAPI.Console.UserSettings>
      <setting name="DefaultAltitude" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TransferPokemonKeepAllAboveIVValue" serializeAs="String">
        <value>99</value>
      </setting>
      <setting name="TransferPokemonKeepAllAboveCPValue" serializeAs="String">
        <value>2500</value>
      </setting>
      <setting name="WalkingSpeedInKilometerPerHour" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="DefaultLatitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultLongitude" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="UsePokemonToNotCatchList" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AuthType" serializeAs="String">
        <value>Google</value>
      </setting>
      <setting name="PtcUsername" serializeAs="String">
        <value>PtcUsername</value>
      </setting>
      <setting name="PtcPassword" serializeAs="String">
        <value>PtcPassword</value>
      </setting>
      <setting name="PrioritizeIVOverCP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MaxTravelDistanceInMeters" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="UseGPXPathing" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GPXFile" serializeAs="String">
        <value>GPXFile.gpx</value>
      </setting>
      <setting name="UseLuckyEggs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NotTransferPokemonsThatCanEvolve" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EvolveOnlyPokemonAboveIV" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EvolvePokemon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EvolveOnlyPokemonAboveIVValue" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="TransferPokemon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseTransferPokemonKeepAllAboveCP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseTransferPokemonKeepAllAboveIV" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UsePokemonToNotTransferList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoogleEmail" serializeAs="String">
        <value>GoogleEmail</value>
      </setting>
      <setting name="GooglePassword" serializeAs="String">
        <value>GooglePassword</value>
      </setting>
      <setting name="CatchPokemon" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GPXIgnorePokestops" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EvolveKeepCandiesValue" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="UseTeleportInsteadOfWalking" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UsePokemonToEvolveList" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CatchIncensePokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TransferPokemonKeepAmountHighestCP" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="TransferPokemonKeepAmountHighestIV" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CatchLuredPokemon" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExportPokemonToCsvEveryMinutes" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="HatchEggs" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UseOnlyBasicIncubator" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DevicePackageName" serializeAs="String">
        <value>random</value>
      </setting>
    </PokemonGo.RocketAPI.Console.UserSettings>
  </userSettings>
</configuration>